/* .overlayCanvas {
    width : 100%;
    min-width: 100%;
    height : 100%;
    min-height: 100%;
    border : 1px solid #000000;
    z-index : 9999;
    position : absolute;
    top : 0px;
    left : 0px;
    background-color: red;
} */

body, html, * {
  /* margin: 0;
  padding: 0; */
  font-family: "customFont" !important;
  font-size: 25px !important;
  color: #b9c724 !important;
  background-color: rgb(25, 71, 25) !important;
  position: relative !important;
  border: none !important;
  text-decoration: none !important;
  font-style: normal !important;
}

a {
  color: #f8a813 !important;
}

#playerSvg {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  max-height: 50px !important;
}

#playerSvg > * {
  fill: #b9c724 !important;
}


