/* .overlayCanvas {
    width : 100%;
    min-width: 100%;
    height : 100%;
    min-height: 100%;
    border : 1px solid #000000;
    z-index : 9999;
    position : absolute;
    top : 0px;
    left : 0px;
    background-color: red;
} */

body, html, * {
  /* margin: 0;
  padding: 0; */
  font-family: "customFont" !important;
  font-size: 50px !important;
  /* color: #b9c724 !important; */
  /* background-color: rgb(25, 71, 25) !important; */
  position: relative !important;
  border: none !important;
  text-decoration: none !important;
  text-wrap: wrap !important;
  font-style: normal !important;

  animation: invert 20s;
  animation-iteration-count: infinite;
}


body {
  min-width: 2000px;
}

a {
  color: #f8a813 !important;
}

#playerSvg {
  position: absolute !important;
  top: 10px;
  left: 10px;
  z-index: 9999 !important;
  max-height: 50px !important;
  min-height: 50px !important;
}

#playerSvg > * {
  fill: #b9c724 !important;
}

@keyframes invert {
  0% {filter: invert(0);}
  20% {filter: invert(0);}

  40% {filter: invert(100);}
  60% {filter: invert(100);}

  80% {filter: invert(0);}
  100% {filter: invert(0);}
}