/* .overlayCanvas {
    width : 100% !important;
    min-width: 100% !important;
    height : 100% !important;
    min-height: 100% !important;
    z-index : 99 !important;
    position : absolute !important;
    top : 0px !important;
    left : 0px !important;
} */

:root {

  --backgroundHUE: 0;
  --textColorHUE: 280;

  --backgroundLightness: 90%;
  --textColorLightness: 30%;

}

body, html, * {
  font-family: "customFont" !important;
  font-size: 100px !important;
  border: none !important;
  text-decoration: none !important;
  font-style: normal !important;

  background-color: hsl(var(--backgroundHUE, 0), 100%, var(--backgroundLightness, 90%)) !important;
  color: hsl(var(--textColorHUE, 280), 100%, var(--textColorLightness, 30%)) !important;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out !important;
  /* filter: invert(var(--invertPrecent, 0%)) !important; */

  /*
    Dawn = background-color: hsl(0, 100%, 90%), color: hsl(280, 100%, 30%)
    Noon = 
    Dusk = 
    Midnight = background-color: hsl(300, 100%, 10%), color: hsl(40, 100%, 85%)
  */

  padding: 0px !important;
  margin: 0px !important;
  border-style: none !important;
  gap: 0px !important;
}

body {
  min-width: 2000px;
}

a {
  color: #f8a813 !important;
}

#playerSvg {
  position: absolute !important;
  top: 20px;
  left: 20px;
  z-index: 9999 !important;
  max-height: 40px !important;
  min-height: 40px !important;
}

#playerSvg > * {
  fill: #b9c724 !important;
}

.foundCookie {
  color: #ff0000 !important;
}

.reworkedText {
    width : fit-content !important;
    min-width: fit-content !important;
    height : fit-content !important;
    min-height: fit-content !important;
    z-index : 100 !important;
    position : absolute !important;
    top : 0px !important;
    left : 0px !important;
   /* background-color: red !important; */
}
/* @keyframes invert {
  0% {filter: invert(0);}
  20% {filter: invert(0);}

  40% {filter: invert(100);}
  60% {filter: invert(100);}

  80% {filter: invert(0);}
  100% {filter: invert(0);}
}

@keyframes timeCycle {
  0% {filter: invert(0);}
  20% {filter: invert(0);}

  40% {filter: invert(100);}
  60% {filter: invert(100);}

  80% {filter: invert(0);}
  100% {filter: invert(0);}
} */